

.p1 { margin:0px; margin-right:13px; border-style:solid; border-width:thin; border-color:#800000; background-color:#FF8080; }

.p2 { margin:5px; padding-top:3px; padding-bottom:3px;}

.p3 { background-color:#FFFFD0; }




.outline {
	margin-left: 0px;
	padding-left: 0px;
	list-style: none;
}

.outline ul {
	margin-left: 0px;
	padding-left: 35px;
	list-style: none;
}

.outline li {
	cursor: auto;
	margin: 0 0 0 3px;
	padding: 0px;
}

.outline li input {
	margin: 0px 0px 0px 3px;
}

h3 {
	margin-bottom:0px;
}

.olink {
	border-style: none;
	padding-right: 5px;
}
.oimg {
	border-style: none;
}
